@model EstudioAnime.Models.Estudios

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Estudios</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeEstudio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeEstudio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFundação)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFundação)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EstudiosId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
