@model IEnumerable<EstudioAnime.Models.Estudios>

@{
    ViewData["Title"] = "Index";
}

<h1>Estudios</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeEstudio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFundação)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeEstudio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFundação)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EstudiosId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EstudiosId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EstudiosId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
