@model IEnumerable<EstudioAnime.Models.Diretores>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Diretores</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Especializacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjetosConcluidos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Especializacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjetosConcluidos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DiretoresId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DiretoresId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DiretoresId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
